.overlay {
  display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(10px);
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal {
    background: rgba(255, 255, 255, 0.1);
    padding: 2rem;
    border-radius: 15px;
    width: 90%;
    max-width: 500px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
  }
  
  .title {
    color: #fff;
    text-align: center;
    margin-bottom: 1.5rem;
    font-size: 2rem;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  }
  
  .formGroup {
    margin-bottom: 1.5rem;
  }
  
  input, select {
    width: 100%;
    padding: 0.8rem;
    border: none;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
    font-size: 1rem;
    backdrop-filter: blur(5px);
  }

  option{
    background: rgb(95, 95, 95);
  }
  
  input:focus, select:focus {
    outline: none;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
  }
  
  .submitButton {
    width: 100%;
    padding: 1rem;
    border: none;
    border-radius: 8px;
    background: linear-gradient(45deg, #ff6b6b, #ff8e53);
    color: white;
    font-size: 1.1rem;
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  
  .submitButton:hover {
    transform: scale(1.02);
    box-shadow: 0 0 15px rgba(255, 107, 107, 0.5);
  }